
@import "tailwindcss";@import "tailwindcss";


.hero-section {
  width: 100%;
  height: 70vh;
  background: url("https://images.unsplash.com/photo-1532012197267-da84d127e765?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D")
    center/cover no-repeat;
  position: relative;
  background-attachment: fixed;  
  margin-top: 0;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 55px;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.search-box {
  width: 450px;
  
}

.search-box input {
  flex: 1;
  padding: 12px 18px;
  border: none;
  outline: none;
}

.search-btn {
  width: 55px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}
.footerLarger {
  color: beige;
}
.authSection{
  background-image: url(https://images.unsplash.com/photo-1610072175216-df383b91b89d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Ym9vayUyMGZsb3dlcnxlbnwwfHwwfHx8MA%3D%3D);
  background-position: center;
}